/*** grid-layout ***/
.wishlist-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "nav nav nav nav nav nav" 
    "wishlist-products wishlist-products wishlist-products wishlist-products wishlist-products wishlist-products"
    "footer footer footer footer footer footer";
  gap: var(--lg-space);
}
/*******/
/*** products ***/
.wishlist-products {
  grid-area: wishlist-products;
  row-gap: var(--lg-space);
  padding: var(--lg-space);
}
.wishlist-main-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--sm-space);
}
/*******/

/***media-queries***/
@media only screen and (max-width: 1000px) {
  .wishlist-main-products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  .wishlist-main-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*******


